* {
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
}
.cell{
    min-height: 150px;
    background-color: blue;
    margin-bottom: 20px;
}
.cell {
    min-height: 150px;
    background-color: blue; 
}
.col {
    margin-right: 20px;
}
.row {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.row .col:last-child{
    margin-right: 0;
}
.col-1 {
    flex-grow: 1;
}

.col-2 {
    flex-grow: 2;
}
.col-3 {
    flex-grow: 3;
}