* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 600px;
    margin: 0 auto;
}

.row {
    width: 100%;
    margin-bottom: 20px;
}

.cell {
    height: 100px;
}

.solid {
    background: rgb(73, 96, 226);
}
.col-3 {
    width: 100%;
}

.col-1 {
    width: 30%;
}

.row .col{
    float:  left;
    margin-right: 30px;
}
.row .col:last-child {
    margin-right: 0;
}
.row::after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}

.col-2 {
    width: calc(60% + 30px);
}
